/* body {
    background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

* {
    transition: all 0.3s ease-out;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* css for the home page */
.bc-grad {
    color: rgb(246, 238, 228);
}

.bc-content {
    margin-top: 12%;
}

@media screen and (max-width: 960px) {
    .bc-content {
        margin-top: 20%;
    }
}

.bc-content h2 {
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.bc-content h1 {
    font-size: 3.5vw;
}

.bc-content h3 {
    font-size: 1.7vw;
}

.bc-text {
    padding-top: 40px;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
            0 0 40px #c9cf8d, 0 0 50px #cac466, 0 0 60px #959b60,
            0 0 70px #fbfbd9;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
            0 0 50px #a9acbd, 0 0 60px #515866, 0 0 70px #c1f4fd,
            0 0 80px #c0aab6;
    }
}

/* css for the navigation bar */
.nav_img {
    width: 90px;
    height: 60px !important;
}
.navbar ul li a {
    font-size: 1.3rem;
    padding-right: 20px !important;
}

@media screen and (max-width: 960px) {
    .nav_img {
        width: 60px !important;
        height: 50px !important;
    }
}

/* css for coach registration form */
.cr-form {
    border: solid 1px rgb(184, 174, 174);
    padding: 30px;
    border-radius: 25px;
}

.cr-heading {
    padding-bottom: 15px;
    border-bottom: solid 3px black;
}

.cr-labels {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.3rem;
}
#form-image {
    padding-top: 5px;
    padding-bottom: 30px;
}

div.cr-button input[type="submit"] {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px 15%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.cr-input {
    padding: 7px;
    width: 100%;
}

/* css for all couches page  */

.c-btn {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-transform: uppercase;
    padding: 8px 12px;
}

.c-btn:hover {
    color: #ffffff;
}

.c-wrapper {
    padding-top: 2%;
}
.c-heading {
    padding: 8px;
}

.c-input input[type="text"] {
    padding: 8px;
}
.c-holder {
    margin-top: 2%;
}
.c-form {
    padding: 10px;
}

.c-holder-search {
    margin-top: 1%;
}

.cc-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.cc-card {
    box-shadow: 5px 10px 18px #888888;
    padding: 10px;
    margin-bottom: 20px !important;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
}

.cc-card:hover {
    transform: scale(1.009);
    box-shadow: 5px 10px 18px #067e02;
}

.cc-name {
    text-transform: capitalize;
}

.cc-special {
    color: teal;
    font-size: 16px;
    margin-bottom: 15px;
}

.cc-about {
    color: rgb(139, 144, 144);
}

/* css for the register page */
.r-box {
    justify-content: center;
}

.register-card:hover {
    transform: scale(1.009);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.register-card {
    margin-top: 30%;
    border-radius: 25px;
    background-color: #deebdd;
    background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
    position: relative;
    height: 200px;
    color: rgb(0, 0, 0);
}

.b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* css for registration form */
.rf-container {
    border: solid 1px rgb(184, 174, 174);
    padding: 30px;
    border-radius: 25px;
}

.rf-label {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
}

.rf-input {
    padding: 8px;
}

div.rf-button input[type="submit"] {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 12px 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

/* css for login page */
.l-holder {
    padding-top: 5%;
}

.lf-container {
    border: solid 3px black;
    padding: 30px;
    border-radius: 25px;
    background-color: #5c9058;
    background-image: linear-gradient(315deg, #7bb36d 0%, #dbe9dc 74%);
}

.l-header {
    padding-bottom: 10px;
    border-bottom: solid 3px black;
}

.l-labels {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
}

.l-input {
    padding-top: 8px;
    padding-bottom: 8px;
}
.l-createm {
    padding-top: 8px;
    padding-bottom: 8px;
}

div.l-button input[type="submit"] {
    color: #ffffff;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12px 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 20px;
}

.l-errorm {
    padding-top: 10px;
    padding-bottom: 4px;
    font-weight: 400;
    color: rgb(231, 48, 48);
}
