
{% extends 'base_app/index.html' %}

{% block content %}
     
     

    <div class="container c-holder-search">
       
        <div class="row c-top-section">
            <h1 class='text-center c-heading'>Find Your Coach</h1>
            <div class="card card-body">
                <form action="" class="form-inline c-form" method='get'>
                    <div class="row">
                    <div class="col-md-1"></div>
                        <div class="col-md-7 c-input">
                            <input type="text" placeholder='search by specialization or keyword' class='form-control' name='query'>
                            {% comment %} {{filter.form.specialization}} {% endcomment %}
                        </div>
                        
                        <div class="col-md-3">
                            <button class='btn c-btn' type='submit'>Search</button>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    
                 </form>
            </div>
        </div>
        
        
        <div class="row row-eq-height c-wrapper">
            {% for coach in coaches %}
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card cc-card">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="col-md-8"></div>
                                <div class="text-center">
                                    <img src="{{ coach.image.url }}" class="card-img-top cc-img" alt=""> 
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title cc-name">{{coach.name}}</h5>
                                    <h6 class="card-title cc-special">Specialization : {{coach.specialization}}</h6>
                                </div>
                            </div>

                        </div>
                        
                        <div class="card-body">
                            <p class="card-text cc-about">{{coach.about}}</p>
                            <p class="card-text cc-email">Reach me at {{coach.email}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
    
{% endblock content %}