
{% extends 'base_app/index.html' %}

{% block content %}
    <div class='bc-grad'>
        <div class="bc-content text-center">
            <h2>Are you ready to</h2>
            <h1>Apmplify Your Career Oppertunities?</h1>
            <h3>Most people have no idea what they're capable of </h3>
            <h3 class='bc-text'> Concult our coaches today </h3>
        </div> 
    </div>
{% endblock content %}