{% extends 'base_app/index.html' %}

{% block content %}
    <div class="container l-holder">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">
                <div class="lf-container">
                    <h1 class='mb-3 l-header text-center'>Login To Your Account</h1>
                    <div class="form-group">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <label class='form-label l-labels' for='username'>Username</label>
                            <input type="text" id='username' name='username' class='form-control l-input'>
                            
                            <label class='form-label l-labels' for='password'>Password</label>
                            <input type="password" id='password' name='password' class='form-control l-input'>
                            {% for message in messages %} 
                                {% if 'login' in message.tags %}        
                                    <p class='l-errorm text-denger'>{{ message | striptags }}</p> 
                                {% endif %}
                            {% endfor %}

                            {% for message in messages %} 
                                {% if 'coach-register' in message.tags %}        
                                    <p class='l-createm text-success'>{{ message | striptags }}</p> 
                                {% elif 'user-register' in message.tags%}
                                    <p class='l-createm text-success'>{{ message | striptags }}</p> 
                                {% endif %}
                            {% endfor %}

                            <div class="text-center l-button">
                                <input type="submit" class='' id='cr-button' value="Login">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
{% endblock content %}