{% extends 'base_app/index.html' %}

{% block content %}
    <div class="container">
        <div class="row c-holder">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="cr-form">
                    <h1 class='mb-3 text-center cr-heading'>Register as a coach</h1>
                    <div class="form-group">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label class='cr-labels' for='form-name'>Your Name</label>
                            {{form.name}}
                            <label class='cr-labels' for='form-email'>Your Email</label>
                            {{form.email}}
                            <label class='cr-labels'  for='form-spe'>Spacialization</label>
                            {{form.specialization}}
                            <label class='cr-labels'  for='form-about'>About</label>
                            {{form.about}}
                            <label class='cr-labels' for='form-image' >Upload An Image</label>
                            <div id="form-image">
                                {{form.image}}
                            </div>
                            <div class="text-center cr-button">
                                <input type="submit" class='' id='cr-button' value="Register">
                            </div>
                        </form>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    

{% endblock content %}
