{% extends 'base_app/index.html' %}

{% block content %}
    <div class="container c-holder">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 ">

                <div class="rf-container">
                    <h1 class='mb-3 text-center'>Create An User Account</h1>
                    <div class="form-group">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <label class='rf-label' for='username'>Your Name</label>
                            {{form.username}}

                            <label class='rf-label' for='email'>Your Email</label>
                            {{form.email}}
                            
                            <label class='rf-label' for='id_password1'>Password</label>
                            {{form.password1}}

                            <label class='rf-label' for='id_password2'>Confirm password</label>
                            {{form.password2}}
                            <div class="text-center rf-button">
                                <input type="submit" class='' id='cr-button' value="Create Account">
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
{% endblock content %}