{% extends 'base_app/index.html' %}

{% block content %}
    <div class="container">
        <div class="row r-box">
            <div class="col-md-1"></div>    
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 text-center">
                    <a href="{% url 'registercoach'%}">
                        <div class="register-card">
                           <h1 class='b'>COACH <br> PROFILE</h1>
                        </div></a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'register' %}">
                        <div class="register-card text-center">
                           <h1 class='b'>USER <br> ACCOUNT</h1>
                        </div></a>
                    </div>
                </div>
                 
            </div>    
            <div class="col-md-1"></div>    
        </div>
    </div>
    
    
{% endblock content %}